linkedin_signal_workflow_notion.json
{ "name": "LinkedIn Signal Collector (Notion)", "nodes": [ { "parameters": { "cronExpression": "*/5 * * * *" }, "name": "Cron", "type": "n8n-nodes-base.cron", "typeVersion": 1, "position": [200,300] }, { "parameters": { "values": { "string": [ { "name": "prospect_name", "value": "Sample Prospect" }, { "name": "signal_type", "value": "post_commenter" }, { "name": "linkedin_url", "value": "https://linkedin.com/in/sample" } ] } }, "name": "Set Dummy Signal", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [400,300] }, { "parameters": { "url": "https://api.notion.com/v1/pages", "options": { "bodyContentType": "json", "jsonParameters": true }, "jsonParameters": true, "jsonData": { "parent": { "database_id": "abfc1529-ea4b-4a11-bd9f-755930bc9da4" }, "properties": { "Name": { "title": [ { "text": { "content": "{{ $json[\"prospect_name\"] }}" } } ] }, "Signal Type": { "select": { "name": "{{ $json[\"signal_type\"] }}" } }, "LinkedIn URL": { "url": "{{ $json[\"linkedin_url\"] }}" }, "Created At": { "date": { "start": "{{ $now }}" } } } } }, "name": "Post to Notion", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "position": [600,300] } ], "connections": { "Cron": { "main": [ [ { "node": "Set Dummy Signal", "type": "main", "index": 0 } ] ] }, "Set Dummy Signal": { "main": [ [ { "node": "Post to Notion", "type": "main", "index": 0 } ] ] } },  "settings": {} }